{% extends "main_template.html" %}



{% block content %}


<div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Consolidador de Posições</h5>
        <p class="card-text">Gerar Posições Consolidadas de Acordo com uma determinada Data</p>
        <a href={{ url_for("controles.consolidarPosicoes")}} class="btn btn-primary">IR</a>
      </div>
    </div>
</div>

    <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dados de Investidores</h5>
        <p class="card-text">Dados e Informações sobre os investidores presenter no 5401</p>
        <a href={{ url_for("controles.Investidores")}} class="btn btn-primary">IR</a>
      </div>
    </div>
</div>





{% endblock %}
