{% extends "main_template.html" %}



{% block content %}
<h1> Gerar 5401</h1>

 <form action={{ url_for("geracao_informes.gerar_informe_5401") }} method="post">
     {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.data.label(class="form-label") }}
        {{ form.data(class="form-select") }}
    </div>

     <div class="mb-3">
        {{ form.administrador.label(class="form-label") }}
        {{ form.administrador(class="form-select") }}
    </div>

       <div class="mb-3">
        {{ form.tipos_5401.label(class="form-label") }}
        {{ form.tipos_5401(class="form-select") }}
    </div>

    <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
     <a  class="btn btn-primary" href={{ url_for("extracoes.get_investidores") }}>Sincronizar Investidores</a>
 </form>








{% endblock %}