{% extends "main_template.html" %}



{% block content %}

<h1>Cadastro de Fundos</h1>


<form action="#" method="POST">

    <input name="id"  hidden value="{{ fundo['_id'] }}">

    <label for="fundo">Codigo do Fundo</label>
    <input name="cd_fundo" type="text" id="fundo" value="{{ fundo['codigo']}}">

    <label for="fundo">Fundo</label>
    <select name="tipoCota" type="text" id="fundo">

        {% if fundo['tipo']  == '1' %}
            <option value="">Selecione o Tipo de Cota</option>
             <option selected value="1">UNICA</option>
            <option value="2">SENIOR</option>
            <option value="3">MEZANINO</option>
            <option value="4">SUBORDINADA</option>
            <option value="5">OUTRAS</option>
        {% elif fundo['tipo']  == '2' %}
            <option value="">Selecione o Tipo de Cota</option>
            <option value="1">UNICA</option>
            <option selected value="2">SENIOR</option>
            <option value="3">MEZANINO</option>
            <option value="4">SUBORDINADA</option>
            <option value="5">OUTRAS</option>

        {% elif fundo['tipo']  == '3' %}
            <option value="">Selecione o Tipo de Cota</option>
            <option value="1">UNICA</option>
            <option value="2">SENIOR</option>
            <option selected value="3">MEZANINO</option>
            <option value="4">SUBORDINADA</option>
            <option value="5">OUTRAS</option>

        {% elif fundo['tipo']  == '4' %}
            <option value="">Selecione o Tipo de Cota</option>
            <option value="1">UNICA</option>
            <option value="2">SENIOR</option>
            <option value="3">MEZANINO</option>
            <option selected value="4">SUBORDINADA</option>
            <option value="5">OUTRAS</option>

        {% elif fundo['tipo']  == '5' %}
            <option value="">Selecione o Tipo de Cota</option>
            <option value="1">UNICA</option>
            <option value="2">SENIOR</option>
            <option value="3">MEZANINO</option>
            <option value="4">SUBORDINADA</option>
            <option selected value="5">OUTRAS</option>

        {% else  %}
            <option value="">Selecione o Tipo de Cota</option>
            <option value="1">UNICA</option>
            <option value="2">SENIOR</option>
            <option value="3">MEZANINO</option>
            <option value="4">SUBORDINADA</option>
            <option value="5">OUTRAS</option>

        {% endif %}


    </select>


    <input type="submit" value="Concluir Edição"/>


</form>






{% endblock %}
