{% extends "main_template.html" %}



{% block content %}

<h1>Jobs</h1>

<table class="table">
    
    <thead>
        <th>Status</th>
        <th>Descrição</th>
        <th>Inicio</th>
        <th>Fim</th>
    
    </thead>    


    <tbody>
    {% for job in jobs %}
       <tr>
            <td>{{ job['status'] }}</td>
            <td>{{ job['result'] }}</td>
            <td>{{ job['start_time'] }}</td>
            <td>{{ job['end_time'] }}</td>
        </tr>
    {% endfor %}

    </tbody>



</table>





{% endblock %}
